{% extends "base_layout.html" %}
{% block title %}Article List{% endblock title %}
{% block content %}
    <main>
        <h1>Article List</h1>
        <div>
            {% for element in articles %}
                <div class="article__item">
                    <h2>
                        <a href="{% url 'articles:article_detail' slug=element.slug %}">
                            {{ element.title }}
                        </a>
                    </h2>
                    <p>
    <!--                    {{ element.body }}-->
                        {{ element.snippet }}
                    </p>
                    <time>
                        {{ element.date }}
                    </time>
                </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'articles:create' %}" class="create-btn">
                + Create Article
            </a>
        {% endif %}
    </main>
{% endblock content %}


<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Article List</title>-->
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
<!--</head>-->
<!--<html lang="en">-->
<!--<body>-->
<!--<main>-->
<!--    <h1>Article List</h1>-->
<!--    <div>-->
<!--        {% for element in articles %}-->
<!--            <div class="article__item">-->
<!--                <h2>-->
<!--                    <a href="{% url 'article_detail' slug=element.slug %}">-->
<!--                        {{ element.title }}-->
<!--                    </a>-->
<!--                </h2>-->
<!--                <p>-->
<!--&lt;!&ndash;                    {{ element.body }}&ndash;&gt;-->
<!--                    {{ element.snippet }}-->
<!--                </p>-->
<!--                <time>-->
<!--                    {{ element.date }}-->
<!--                </time>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->